<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Lino Blockchain Tracker
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/now-ui-dashboard.css?v=1.2.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="static/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          Lino Tracker
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
         <li class="active ">
            <a href="/profile">
              <i class="now-ui-icons design_app"></i>
              <p>Tracker</p>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="now-ui-icons education_atom"></i>
              <p>Blockchain Parameters</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#">{{ .Username }}</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header">
        <div class="header text-center">
          <h2 class="title">Blockchain Parameters</h2>
         
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Evaluate Of Content Value Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Consumption time adjust base - {{ .Consumption_time_adjust_base }}</span></br>
                  <span>Consumption time adjust offset - {{ .Consumption_time_adjust_offset }}</span></br>
                  <span>Num of consumption on author offset - {{ .Num_of_consumption_on_author_offset }}</span></br>
                  <span>Total amount of consumption base - {{ .Total_amount_of_consumption_base }}</span></br>
                  <span>Total amount of consumption offset - {{ .Total_amount_of_consumption_offset }}</span></br>
                  <span>Amount of consumption exponent - {{ .Amount_of_consumption_exponent }}</span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Global Allocation Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Global growth rate - {{ .Global_growth_rate }} </span></br>
                  <span>Infra allocation - {{ .Infra_allocation }}</span></br>
                  <span>Content creator allocation - {{ .Content_creator_allocation }}</span></br>
                  <span>Developer allocation - {{ .Developer_allocation }}</span></br>
                  <span>Validator allocation - {{ .Validator_allocation }}</span>
                </div>
                
              </div>
            </div>
          </div>
         
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Developer Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Developer min deposit - {{ .Developer_min_deposit }}</span></br>
                  <span>Developer coin return interval second - {{ .Developer_coin_return_interval_second }}</span></br>
                  <span>Developer coin return times - {{ .Developer_coin_return_times }}</span>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Bandwidth Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Seconds to recover bandwidth - {{ .Seconds_to_recover_bandwidth}}</span></br>
                  <span>Capacity usage per transaction - {{ .Capacity_usage_per_transaction }}</span></br>
                  <span>Virtual coin - {{ .Virtual_coin }}</span>
                </div>
                
              </div>
            </div>
          </div>
         
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Vote Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Min stake in - {{ .Min_stake_in }}</span></br>
                  <span>Voter coin return interval second - {{ .Voter_coin_return_interval_second }}</span></br>
                  <span>Voter coin return times - {{ .Voter_coin_return_times }}</span></br>    
                  <span>Delegator coin return interval second - {{ .Delegator_coin_return_interval_second }}</span></br>
                  <span>Delegator coin return times - {{ .Delegator_coin_return_times }}</span>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Account Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Minimum balance - {{ .Minimum_balance }}</span></br>
                  <span>Register fee - {{ .Register_fee }}</span></br>
                  <span>First deposit full coin day limit - {{ .First_deposit_full_coin_day_limit }}</span></br>
                  <span>Max num frozen money - {{ .Max_num_frozen_money }}</span>             
                </div>
                
              </div>
            </div>
          </div>
         
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Coin Day Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Seconds to recover coin day - {{ .Seconds_to_recover_coin_day }}</span>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Post Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Report or upvote interval second - {{ .Report_or_upvote_interval_second }}</span></br>
                  <span>Post interval sec - {{ .Post_interval_sec }}</span>             
                </div>
                
              </div>
            </div>
          </div>
         
        </div>
        
        
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Proposal Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
				  <span>Content censorship decide second - {{ .Content_censorship_decide_second }}</span></br>
				  <span>Content censorship min deposit - {{ .Content_censorship_min_deposit }}</span></br>
				  <span>Content censorship pass ratio - {{ .Content_censorship_pass_ratio }}</span></br>
				  <span>Content censorship pass votes - {{ .Content_censorship_pass_votes }}</span></br>
				  <span>Change param decide second - {{ .Change_param_decide_second }}</span></br>
				  <span>Change param execution second - {{ .Change_param_execution_second }}</span></br>
				  <span>Change param min deposit - {{ .Change_param_min_deposit }}</span></br>
				  <span>Change param pass ratio - {{ .Change_param_pass_ratio }}</span></br>
				  <span>Change param pass votes - {{ .Change_param_pass_votes }}</span></br>
				  <span>Protocol upgrade decide second - {{ .Protocol_upgrade_decide_second }}</span></br>
				  <span>Protocol upgrade min deposit - {{ .Protocol_upgrade_min_deposit }}</span></br>
				  <span>Protocol upgrade pass ratio - {{ .Protocol_upgrade_pass_ratio }}</span></br>	
                  <span>Protocol upgrade pass votes - {{ .Protocol_upgrade_pass_votes }}</span>
                </div>
              </div>
            </div>
          </div>
          
          
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Validator Param</h4>
              </div>
              <div class="card-body">
                <div class="alert alert-info">
                  <span>Validator min withdraw - {{ .Validator_min_withdraw }}</span></br>
                  <span>Validator min voting deposit - {{ .Validator_min_voting_deposit }}</span></br>
                  <span>Validator min commiting deposit - {{ .Validator_min_commiting_deposit }}</span></br>
                  <span>Validator coin return second - {{ .Validator_coin_return_second }}</span></br>
                  <span>Validator coin return times - {{ .Validator_coin_return_times }}</span></br>
                  <span>Penalty miss vote - {{ .Penalty_miss_vote }}</span></br>
                  <span>Penalty miss commit - {{ .Penalty_miss_commit }}</span></br>
                  <span>Penalty byzantine - {{ .Penalty_byzantine }}</span></br>
                  <span>Validator list size - {{ .Validator_list_size }}</span></br>
                  <span>Absent commit limitation - {{ .Absent_commit_limitation}}</span>             
                </div>
                
              </div>
            </div>
          </div>
         
        </div>
        
        
        
        
        
      </div>
      <footer class="footer">
        <div class="container">
          <nav>
            <ul>
              <li>
                <a href="https://lino.network/" target="_blank">
                  Lino
                </a>
              </li>
              <li>
                <a href="https://cryptobazar.io/ru" target="_blank">
                  Cryptobazar
                </a>
              </li>
              <li>
                <a href="http://serialhack.io/" target="_blank">
                  Serial Hacking
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="static/js/core/jquery.min.js"></script>
  <script src="static/js/core/popper.min.js"></script>
  <script src="static/js/core/bootstrap.min.js"></script>
  <script src="static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="static/js/now-ui-dashboard.min.js?v=1.2.0" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="static/demo/demo.js"></script>
</body>

</html>
